<app-layouts>
  <div class="container-xl px-4">
    <app-page-title
      title="Media"
      description="Three dashboard examples to get you started!"
    ></app-page-title>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <mat-tab-group>
              <mat-tab label="Libraries">
                <div class="row" style="width: 100%">
                  <div class="col-lg-2 mt-4 mb-4" *ngFor="let media of medias">
                    <mat-card
                      class="example-card w-100 p-2"
                      appearance="outlined"
                      (click)="openDrawerFromParent(media)"
                      style="cursor: pointer"
                    >
                      <div
                        style="
                          height: 140px;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          overflow: hidden;
                        "
                      >
                        <img
                          mat-card-image
                          [src]="media.url"
                          [alt]="media.altText"
                          style="
                            max-height: 100%;
                            max-width: 100%;
                            object-fit: contain;
                          "
                        />
                      </div>
                      <mat-card-actions class="p-0 justify-content-center">
                        <p
                          style="
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          "
                        >
                          Filename: {{ media.filename }}
                        </p>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Upload">
                <div
                  class="drop-zone text-center mt-4"
                  (dragover)="onDragOver($event)"
                  (drop)="onFileDropped($event)"
                  (click)="fileInput.click()"
                >
                  Drag & Drop Images Here or Click to Upload
                  <input
                    type="file"
                    #fileInput
                    (change)="onFileSelected($event)"
                    accept="image/*"
                    multiple
                    hidden
                  />
                </div>

                <div class="preview-container d-flex flex-wrap mt-3">
                  <div
                    *ngFor="let url of previewUrls; let i = index"
                    class="position-relative m-1"
                  >
                    <img
                      [src]="url"
                      class="img-thumbnail object-fit-cover"
                      style="max-width: 100px; height: 100px"
                    />
                    <i
                      type="button"
                      class="fa fa-remove position-absolute top-0 end-0 bg-danger p-2 text-white text-center"
                      style="border-radius: 20px; width: 30px; height: 30px"
                      aria-label="Remove"
                      (click)="removeImage(i)"
                    ></i>
                  </div>
                </div>

                <div class="mt-3 text-center">
                  <button
                    class="btn btn-primary"
                    (click)="onUpload()"
                    [disabled]="!isUploading || previewFiles.length === 0"
                  >
                    <span
                      *ngIf="isUploading && previewFiles.length === 0"
                      class="spinner-border spinner-border-sm me-2"
                    ></span>
                    Upload Images
                  </button>
                </div>
              </mat-tab>

              <mat-tab label="Third"> Content 3 </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-drawer [media]="media"></app-drawer>
</app-layouts>
