<app-layouts>
  <div class="container-xl px-4">
    <h2 class="mt-5 mb-0">Dashboards</h2>
    <p>Three dashboard examples to get you started!</p>
    <hr class="mt-0 mb-4" />
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-3">
        <app-cards
          total="0"
          icon="fas fa-chart-line"
          title="Total Revenue"
        ></app-cards>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <app-cards
          total="0"
          icon="fa fa-users"
          title="Total Revenue"
        ></app-cards>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <app-cards
          total="0"
          icon="fa fa-users"
          title="Total Revenue"
        ></app-cards>
      </div>
      <div class="col-lg-3 col-md-6 mb-3">
        <app-cards
          total="0"
          icon="fa fa-users"
          title="Total Revenue"
        ></app-cards>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <app-table></app-table>
      </div>
    </div>
  </div>
</app-layouts>
